# What is Google Colab?

A platform where you can create shareable notebooks in different languages like R and Python! This means I can edit any of these and send them back to you with changes, or you can try your code and send them back to me!

#Environment Breakdown

Below is what we call a **code cell**. You know it's a code cell because it has [ ] on the left hand side, and when you hover over it a play button appears!

In [ ]:
#I'm a cell!

Cells like the one above allow us to execute code. When we don't want to write code, but want to leave a comment, we put a hastag (#) on the same line as the word.

**In the above example, we have a code cell, which contains a comment saying "I am a cell!".**

The examples I'm going to walk you through are written in different code cells.

Whenever you see **#Run Me!** in a cell, go ahead and click into it and press Shift + Enter or click the play button. Let's ignore the meaning of contents for now.

Try it below:

In [ ]:
#Run Me!
greeting <- "What's up!"
print(greeting)

After clicking into the cell above and pressing Shift + Enter or the play button, above should print out What's up! 

**Selecting Shift+Enter and seeing an output below a code cell is called running the cell.**

This basically means you ran the code that was written in this cell.

Lastly, notice how the first line in the code cell above is a comment line (hashtag).

THE COMPUTER DOES NOT READ THIS CODE. COMMENTS ARE USED FOR THE USER (ME AND YOU) TO KEEP TRACK OF WHAT WE'RE TYPING


The following lines without hashtags are your working code lines.

greeting <- "What's up!" 

print(greeting)

This is what the computer reads to execute what you want to do. It does not read the hashtagged line.

#Basics of R

Not sure if you need to know this/know this already, but you can skip this and go straight into the graphing section next if you want.

## Variables

In [ ]:
#Run Me!
x <- 3

In the code cell above, we assigned the number 3 to the variable x. 

Think of '<-' as an equal sign in R! 

**R never uses equal signs**




Lets print that variable!

In [ ]:
#Run Me!
print(x)

Practice creating your own variables and assigning them to **numbers**

Don't assign anything to words, just yet!

##Practice Variables

In [ ]:
#Create a y variable directly below this code and assign it to any number you want!
#Print it too!
#Run Me!

In [ ]:
#Create a variable directly below this code and assign it to another number!
#Print it too!
#Run Me!

##Data Types

There's a bunch of different data types in R, but I'll just go over 2 with you:

Numeric 


Character

In [ ]:
#Run Me!
name <- 'Shena'
print(name)

In the code cell above, you assigned the variable **name**, Shena.

Remember how I told you above to assign the variable to a number **and not a word?**

This is why:

In [ ]:
#Run Me!
name <- Shena

The above didn't work because you need to add single or double quotes to whatever you're assigning to the variable.

If you forget the single or double quotes, what you're doing is assigning a variable to **ANOTHER** variable.

In [ ]:
#Run Me!
city <- 'Chicago'
newcity <- city
print(newcity)

In the code cell above, you first assigned 'Chicago' to the variable **city**. You then assigned a new variable, **newcity** to be whatever **city** is.

The above variables are example of character data types because they hold words. Aka Shena and Chicago!

As you can probably guess, **numeric** data types are variables that hold numbers!

Use **class()** to see the data types of variables!

In [ ]:
#Run Me!
college <- 'UIC'
hours <- 10

class(college)
class(hours)

## Zakir, WHY ARE THESE DATA TYPES IMPORTANT?!?!?!?!?!

Because you can't add a numeric to a character! When dealing with data, you might run across a 3 that is a character data type and a 3 that is a numeric data type! 

Take a look below!

In [ ]:
#Run Me!
char <- '3'
num <- 3

print(char + num)

In the code cell above, we tried adding together different data types, to solve this, we jut need to change the character data type to a numeric one!

To change a variable to a numeric, use **as.numeric()**

To change a variable to a character, use **as.character()**

In [ ]:
#Run Me!
newchar <- as.numeric(char)

print(newchar+num)

Let's add two character types together:

In [ ]:
#Run Me!

wordone <- "I am"
wordtwo <- "hungry!"

paste(wordone,wordtwo)

In the code cell above, we used **paste()** to combine two character data types.

Unfortunately, we can't use the plus sign with these.

SUCKS.

## Practice Data Types

In [ ]:
#Create a variable to hold a character data type, and print it!

In [ ]:
#Create a variable to hold '100'

In [ ]:
#Convert that variable to a numeric data type and class() to confirm it is now numeric!

In [ ]:
#Create two different numeric variables, and print them!

In [ ]:
#Convert the numeric variables to character variables!

In [ ]:
#Paste the two different characters together and assign it to a brand new variable, and print it!

#Basic Graphing in R
In this section, I'll show you how to quickly make:

- Histograms
- Bar Charts
- Pie Charts
- Boxplots
- Scatterplots

We'll be looking at a cars dataset (I know, boring, but it came with the package)

##Loading and Inspecting the Dataset

In [ ]:
#Run Me! (This might take a few minutes)
install.packages("readr")

To be honest, I'm not sure what the above package completely does, but it comes with a dataset called **mtcars**!

Inspecting our dataset. We'll be using:

- head() : Gives us the top 5 rows
- tail(): Gives us the last 5 rows
- summary(): Gives us a summary of each column
- dim() : Gives us the number of rows and columns

In [ ]:
#Run Me!
head(mtcars)

In [ ]:
#Run Me!
tail(mtcars)

In [ ]:
#Run Me!
summary(mtcars)

In [ ]:
#Run Me!
dim(mtcars)

Explanation of the Columns:

[, 1]	mpg	Miles/(US) gallon

[, 2]	cyl	Number of cylinders

[, 3]	disp	Displacement (cu.in.)

[, 4]	hp	Gross horsepower

[, 5]	drat	Rear axle ratio

[, 6]	wt	Weight (1000 lbs)

[, 7]	qsec	1/4 mile time

[, 8]	vs	Engine (0 = V-shaped, 1 = straight)

[, 9]	am	Transmission (0 = automatic, 1 = manual)

[,10]	gear	Number of forward gears

[,11]	carb	Number of carburetors

##Histograms & Density Plots

To make a basic histogram, we'll be using:

hist()

You usually make a histogram of just one **feature**, in this case column.


To reference a column in a data set we use '$'


**mtcars$mpg references the mpg column only!**

In [ ]:
#Run Me!
hist(mtcars$mpg)

In [ ]:
#Run Me!
hist(mtcars$carb)

In [ ]:
#Create a histogram of another column in this cell!

In [ ]:
#Create a histogram of another column in this cell!

Let's Add Breaks, Colors, and Titles!

- breaks = number of bars
- col = color of the bars
- main = adds a title to the graph
- xlab = x-axis label
- ylab = y-axis label

In [ ]:
#Run Me!
hist(mtcars$mpg, breaks = 20, col = 'red', main = 'Title!',xlab = 'MPG',ylab = 'Count')

In [ ]:
#Run Me!
hist(mtcars$carb, breaks = 4, col='blue', main = 'New Title!', xlab = 'Carb', ylab = 'Count')

In [ ]:
#Create a histogram of another column and play around with the features below!

In [ ]:
#Create a histogram of another column and play around with the features below!

In [ ]:
#Create a histogram of another column and play around with the features below!

In [ ]:
#Create a histogram of another column and play around with the features below!

In [ ]:
#Create a histogram of another column and play around with the features below!

Density Plot

Similiar to above, we'll be using

**plot(density())**

In [ ]:
#Run Me!
plot(density(mtcars$mpg))

In [ ]:
#Run Me!
plot(density(mtcars$mpg))

Changing Title and Axis

In [ ]:
plot(density(mtcars$mpg),main = 'red',xlab='something',ylab='whatever')

In [ ]:
#Create density plots of other columns and play around with the titles!

In [ ]:
#Create density plots of other columns and play around with the titles!

In [ ]:
#Create density plots of other columns and play around with the titles!

##Bar Plots

To create a bar plot, we first need to use **table()** to convert the data to a table.

We'll then use **barplot()** to convert that table into a bar plot. 

Take a look below!

In [ ]:
#Run Me!
data <- table(mtcars$gear)
barplot(data)

We can also spice this graph up by adding a title, xlab, ylab, and colors!

In [ ]:
data <- table(mtcars$gear)
barplot(data, col='pink',main = 'Main Title', xlab = 'x-axis',ylab = 'y-axis')

###Stacked Bar Plot

On top of adding titles, and changing colors, we can also add a legend by:

**legend =**

In this case, we made the legend reference VS, **the first input of table()**

In [ ]:
#Run me!
#This line takes the two columns, vs and gear and converts the data to a table format and stores it in the variable called counts
counts <- table(mtcars$vs, mtcars$gear)

#we then use barplot() to include counts and the features!
barplot(counts, main="Car Distribution by Gears and VS",
  xlab="Number of Gears", col=c("darkblue","red"),
  legend = rownames(counts))

In [ ]:
#Create another stacked bar chart of two other columns!

###Grouped Bar Plot

The code below is similiar to the one above, but we added one more argument:

**beside = TRUE**

Think of this as saying we want the **beside each other**

In [ ]:
#Run Me!

#This line converts the two columns to tables and stores the data as counts
counts <- table(mtcars$cyl, mtcars$gear)

#This line uses barplot() and references count along with some features like title, x-axis label, colors, legend, beside
barplot(counts, main="Car Distribution by Gear and Cylinder",
  xlab="Number of Gears", col=c("darkblue","red"),
  #This is where beside is!
  legend = rownames(counts), beside = TRUE)

In [ ]:
#Create a grouped bar chart using $mtcars$vs and mtcars$gear
#Play around with the colors and titles!

##Boxplots

There's a bit more detail needed to plot a box plot, but the basics are the same as the others above!

We'll be using **boxplot()** to create the graph and we will first need to dictate what we want in the Y-Axis, then use the **~** (located next to the number one on your keyboard) and then dictate what we want on the X-Axis, and finally using **data=** to give the name of our dataset.

In [ ]:
#Run Me!
#Y-Axis: mpg
#X-Axis: cyl
#Data = mtcars (name of our dataset)
boxplot(mpg~cyl,data=mtcars)

Adding titles

In [ ]:
boxplot(mpg~cyl,data=mtcars, main="Car Milage Data", 
   xlab="Number of Cylinders", ylab="Miles Per Gallon")

In [ ]:
#Create your own box plot of two other columns below!

In [ ]:
#Create your own box plot of two other columns below!

##Scatterplots

Scatterplots follow a similiar format to box plots! We'll just be using **plot()** for this.


I'll also show you how to add a regression line!

In [ ]:
#Run Me!
#Y-Axis: weight
#X-Axis: miles per gallon
#data = mtcars
plot(wt~mpg,data=mtcars)

Let's add titles!

In [ ]:
plot(wt~mpg,data=mtcars,main='Scatterplot Example',xlab='Miles Per Gallon',ylab='Weight')

Regression Line

After graphing the scatterplot, we'll just be adding one more line of code:

**abline(lm())**

The inside of the **lm()** parantheses are going to be the **same code** as your **plot()** code.

In [ ]:
#Run Me!
#Scatterplot code
plot(wt ~ mpg, data=mtcars)
#Linear Regression code
abline(lm(wt ~ mpg,data=mtcars))

In [ ]:
#Run Me!
#Scatterplot code
plot(wt~mpg,data=mtcars,main='Scatterplot Example',xlab='Miles Per Gallon',ylab='Weight')
#Linear Regression code
abline(lm(wt ~ mpg,data=mtcars))

In [ ]:
#Create your own scatterplot of two other columns below and add a regression line!

In [ ]:
#Create your own scatterplot of two other columns below and add a regression line!

In [ ]:
#Create your own scatterplot of two other columns below and add a regression line!

##Pie Charts

I don't know about you, but I'm tired of that damn cars data set.

Thankfully in this section, we'll be creating our data as we learn about Pie Charts

**Heads Up**

I've always been told to not really use R for Pie Charts...but I can show you how easy it is to make them.


To create a pie chart, we'll be using **c()** which **combines** numbers and creates a vector. R loves vectors.

We'll then use **pie()** to display the information in a pie chart

In [ ]:
#Run Me!

#I'm assigning the variable Slices a combination (c) of random numbers I chose
Slices <- c(14, 8, 12, 9, 11)

pie(Slices)

We'll now add labels and a title!

But first we have to create a vector of those labels using **c()** again.

In [ ]:
#Run Me!
labels <- c('Volleyball','Football','ShenaPlaysTrack','Basketball','Soccer')

pie(Slices, labels = labels, main = 'Main Title')

Those colors aren't the best....so we can add

**col=rainbow(length(labels))**

This assigns the pie chart different colors of the rainbow (randomly), depending on how many labels we have.

In this example, we have 5 labels

labels <- c('Volleyball','Football','ShenaPlaysTrack','Basketball','Soccer')

So it chooses 5 different colors randomly.

In [ ]:
#Run Me!
pie(Slices, labels = labels, main = 'Title',col=rainbow(length(labels)))

In [ ]:
#Create your own pie charts by assigning a variable a combination (c()) of numbers

In [ ]:
#Create labels for those numbers

In [ ]:
#Add titles and colors!

#Your Own Practice

Alrighttyyyy then. So you learned some very basic graphing techniques in R! This section is for you to practice on a bunch of different data sets.

1. Go to this link (open in new tab): https://stat.ethz.ch/R-manual/R-devel/library/datasets/html/00Index.html

2. On the left hand side (in the blue hyperlink) are all the datasets that came with the package you installed earlier.
  - I chose a random one in the example below (attitude) 

3. You can use **head()** to check out the column names in the datasets, and graph different columns against eachother!

In [ ]:
#Run Me!
#change 'attitude' to other dataset names and graph!
head(attitude)

Practice Your Coding Here!